body {
  padding-top: 3em;
}
h1, h2, h3 {
  font-family: 'Montserrat', 'Open Sans', sans-serif;
}
p, li {
  font-size: 14px;
}
.innerbody {
  min-height: calc(100vh - 6em);
}
.navbar {
  margin-bottom: 0;
}
.navbar-toggle {
  border: none;
}
.jumbotron {
  margin-bottom: 0;
}
footer {
  background-color: #333;
  margin-top: 0.5em;
}
footer h5 {
  color: white;
}
.jumbotron {
  background-color: white;
  color: #222;
}
.jumbotron h1 {
  font-weight: 400;
}
