h1, h2, h3 {
  font-family: 'Montserrat', 'Open Sans', sans-serif;
  font-weight: 300;
}
p, li {
  font-size: 14px;
}
footer {
  display: flex;
  justify-content: space-between;
}
.innerbody {
  min-height: calc(100vh - 54px);
}
.navbar-toggler {
  border: none;
}
.jumbotron {
  margin-bottom: 0;
}
.jumbotron {
  background-color: white;
  color: #222;
}
.jumbotron h1 {
  font-weight: 400;
  background-image: url('/img/space.jpg');
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-position: top;
}
/* navbar transitions */
.expand-enter-active, .expand-leave-active {
  transition: height .5s;
  overflow-y: hidden;
}
.expand-enter-active, .expand-leave-active {
  height: 340px;
}
.expand-enter, .expand-leave-to {
  height: 0;
}
.bg-translucent {
  background-color: rgba(255, 255, 255, 0.98);
}
.active .nav-link, .nav-link:hover, .navbar-brand:hover {
  color: var(--red) !important;
}

@media (max-width: 576px) {
  .display-4 {
    font-size: 2rem;
  }
  footer {
    flex-direction: column;
  }
}
