.full-page-image {
  margin-top: 0;
  height: 70vh;
  background: url("../img/space.jpg") #029acf;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50%;
  display: flex;
  align-items: center;
}
.centered-content {
  width: 100%;
  background-color: transparent;
  color: white;
  padding-left: 1rem;
}

.box {
  padding-top: 2em;
  padding-bottom: 1em;
}
.displayText {
  font-size: 1.5em;
}
.vertically-center {
  height: 11em;
  display: flex;
  align-items: center;
}

.display-icon {
  font-size: 10em;
  margin-bottom: .25em;
}
.fa-comment {
  color: #029acf;
}
.fa-calendar-alt {
  color: #43AC6A;
}
@media (max-width: 576px) {
  .display-icon {
    font-size: 6em;
  }
  .display-3 {
    font-size: 3.5rem;
  }
}

#box1 {
  background-color: rgb(0, 180, 210);
  color: white;
}
#box1 .blockquote-footer {
  color: #444;
}

a.text-info {
  font-weight: 400;
}
blockquote {
  border-left: 5px solid #444;
  padding: .5em 1em;
}
