.navbar {
  margin-bottom: 0;
}
.full-page-image {
  margin-top: 0;
  height: 80vh;
  background: url("../img/space.jpg") #029acf;
  background-size: cover;
  background-position: 50%;
  display: flex;
  align-items: center;
}
.centered-content {
  text-align: center;
  width: 100%;
  background-color: rgba(22, 22, 22, 0.6);
  color: white;
  margin-top: 1em;
  padding-top: 0;
  padding-bottom: 1em;
}
.navbar-toggle {
  border: none;
}
.box {
  padding-top: 2em;
  padding-bottom: 1em;
}
.displayText {
  font-size: 1.5em;
}
.vertically-center {
  height: 11em;
  display: flex;
  align-items: center;
}
.glyphicon-comment {
  font-size: 10em;
  color: #029acf;
  padding-bottom: .25em;
}

#box1 {
  background-color: #50ded1;
  background-color: rgb(0, 180, 210);
  color: white;
}
#box1 blockquote small {
  color: #444;
}

blockquote {
  border-color: #444;
}

footer {
  background-color: #333;
}
footer h5 {
  color: white;
}
