.full-page-image {
  margin-top: 0;
  height: 70vh;
  background: url("../img/space.jpg") #029acf;
  background-size: cover;
  background-position: 50%;
  display: flex;
  align-items: center;
}
.centered-content {
  text-align: center;
  width: 100%;
  background-color: rgba(22, 22, 22, 0.6);
  color: white;
  margin-top: 1em;
  padding-top: 0;
  padding-bottom: 1em;
}

.box {
  padding-top: 2em;
  padding-bottom: 1em;
}
.displayText {
  font-size: 1.5em;
}
.vertically-center {
  height: 11em;
  display: flex;
  align-items: center;
}

.display-icon {
  font-size: 10em;
}
.glyphicon-comment {
  color: #029acf;
  /*padding-bottom: .25em;*/
}
.glyphicon-calendar {
  color: #43AC6A;
}
@media (max-width: 768px) {
  .display-icon {
    font-size: 6em;
  }
}

#box1 {
  background-color: #50ded1;
  background-color: rgb(0, 180, 210);
  color: white;
}
#box1 blockquote small {
  color: #444;
}

a.text-info {
  font-weight: 400;
}
blockquote {
  border-color: #444;
}
