---
title: FAQ
permalink: /faq/
---

<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include navbar.html %}
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-4">Frequently Asked Questions</h1>
      </div>
    </div>
    <div class="container">
      <h3 class="text-info">Is this club only for atheists and agnostics?</h3>
      <p>Nope! We welcome anyone regardless of their beliefs (or lack thereof). All that we require is that all members are respectful of each other. Respectful and thoughtful disagreement is encouraged, but hate and ridicule are not tolerated.</p>

      <h3 class="text-info">What kinds of topics do you discuss at your meetings?</h3>
      <p>Most of our discussions focus on current controversial topics. When possible, we like to talk about current events. Some previous topics we have discussed include <span style="font-weight:400">anarchy, whistleblowers, abortion, and the Syrian refugee crisis</span>. We are also always open to topic suggestions.</p>

      <h3 class="text-info">What else do you guys do?</h3>
      <p>We have all sorts of social events like game nights, museum trips, and movie nights. We also go out to dinner after every meeting to continue the discussion and to just hang out. Even if you aren't sure about discussion-based meetings, you can still hang out with us.</p>

      <h3 class="text-info">Ok, sounds cool! How do I learn more and join?</h3>
      <p>Check out our <a class="text-info" href="/contact/">contact</a> page where you can join our private Facebook group, sign up for emails, or send us an email to learn more. You can also just show up to one of our meetings or events! Check the Facebook group or our <a class="text-info" href="/events/">events</a> page to see what we have coming up.</p>
    </div>
    {% include footer.html %}
    {% include scripts.html %}
  </body>
</html>
