---
title: Officer Positions
permalink: /positions/
---
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include navbar.html %}
    <div class="jumbotron">
      <div class="container">
        <h1>Officer Positions</h1>
        <p>These are the descriptions of the officer positions that keep Pitt Secular Alliance running.</p>
      </div>
    </div>
    <div class="container">
      <h3 class="text-info">President</h3>
        <p>The President is responsible for overseeing everything in Secular Alliance, including its discussions, outreach, and any other activities that it holds. The President must be able to attend and contribute to as many of the Secular Alliance’s discussions and other activities as possible. The President ultimately decides the direction the club proceeds in and must do their best to represent the Secular Alliance’s interests and character.</p>
      <h3 class="text-info">Vice President</h3>
        <p>The Vice President is responsible for standing in for the President when made necessary by the President’s absence or temporary inability to perform his or her roles. The Vice President is to act as assistant to the President and contribute towards the administration of the Secular Alliance as well as delegation of tasks that allow for the club to continue running smoothly.</p>
      <h3 class="text-info">Treasurer</h3>
        <p>It is the responsibility of the Treasurer to monitor the Pitt Secular Alliance’s funds, approve club-related expenditures, issue remuneration, head the planning and carrying out of fundraising efforts, and – if deemed necessary – apply for funding via the Student Government Board (SGB). They must be aware of and informed in the workings of the Student Organization Resource Center (SORC) allocations procedures as well as the process for obtaining funding from the SGB. It is also the responsibility of the Treasurer to keep the Secular Alliance board informed of the current monetary situation and to provide information regarding what is and is not eligible for reimbursement by SORC funds.</p>
      <h3 class="text-info">Outreach Coordinator</h3>
        <p>It is the responsibility of the Outreach Coordinator to distribute weekly reminders of upcoming meetings and monthly reminders of approaching group events. They must also maintain an up-to-date spreadsheet that contains all member names and email addresses. They are also tasked with ensuring that the Pitt Secular Alliance fliers are updated, attractive, and available to all members for distribution.</p>
      <h3 class="text-info">Social Media Coordinator</h3>
        <p>It is the responsibility of the Social Media Coordinator(s) to ensure that the group’s Facebook page is updated with accurate information regarding the club’s discussions and events. It would also be beneficial for this officer to maintain a steady flow of interesting and relevant news on the club’s social media accounts to encourage active discussion and engagement outside of weekly meetings. They must also monitor posts to remove all spam.</p>
    </div>
    {% include footer.html %}
    {% include scripts.html %}
  </body>
</html>
