---
title: Home
permalink: /
---
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
    <title>Pitt Secular Alliance</title>
    <link rel="stylesheet" href="css/home.css">
  </head>
  <body>
    {% include navbar.html %}

    <div class="full-page-image">
      <div class="jumbotron centered-content">
        <div class="container">
          <h1>Pitt Secular Alliance</h1>
          <p>Learn about what we do</p>
        </div>
      </div>
    </div>

    {% include scripts.html %}
  </body>
</html>
