---
title: Home
permalink: /
---
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
    <title>Pitt Secular Alliance</title>
    <link rel="stylesheet" href="css/home.css">
  </head>
  <body>
    {% include navbar.html %}

    <div class="full-page-image">
      <div class="jumbotron centered-content">
        <div class="container">
          <h1>Pitt Secular Alliance</h1>
          <p>Not religious? Neither are we.</p>
        </div>
      </div>
    </div>
    <div class="box">
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <span class="glyphicon glyphicon-comment text-center"></span>
          </div>
          <div class="col-sm-9 vertically-center">
            <p>We have weekly meetings where discuss current events, social issues, and other interesting topics from a secular point of view.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <h5 class="pull-right">Copyright © 2017 Pitt Secular Alliance</h5>
    </div>

    {% include scripts.html %}
  </body>
</html>
