---
title: Home
permalink: /
---
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
    <meta name="description" content="We are Pitt Secular Alliance, a club at the University of Pittsburgh for secular and non-religious students. We have weekly discussion-based meetings where we talk about topics like current events, philosophy, politics and more. We also have extra social events on the weekends. Come hang out with us, anyone is welcome!">
    <link rel="stylesheet" href="css/home.css">
  </head>
  <body>
    {% include navbar.html %}
    <div class="full-page-image">
      <div class="jumbotron centered-content">
        <div class="container">
          <h1 class="text-white display-3">Pitt Secular Alliance</h1>
          <p class="lead">Not religious? Come hang out with us!</p>
        </div>
      </div>
    </div>
    <section class="box" id="box1">
      <div class="container">
        <blockquote class="blockquote">
          <p><em>"It is far better to grasp the universe as it really is than to persist in delusion, however satisfying and reassuring."</em></p>
          <div class="blockquote-footer"><cite title="Carl Sagan">Carl Sagan</cite></div>
        </blockquote>
      </div>
    </section>
    <section class="box">
      <div class="container text-right">
        <div class="row">
          <div class="col-sm-auto">
            <span class="fas fa-comment display-icon"></span>
          </div>
          <div class="col-sm vertically-center text-right">
            <p class="displayText">Join us at our weekly meetings where we discuss current events, social issues, philosophy, politics, and other interesting topics from a secular point of view!</p>
          </div>
        </div>
      </div>
    </section>
    <section class="box">
      <div class="container">
        <div class="row">
          <div class="col-sm-auto order-sm-2">
            <span class="fas fa-calendar-alt display-icon"></span>
          </div>
          <div class="col-sm order-sm-1 vertically-center">
            <p class="displayText">The best way to get to know us is to come to one of our meetings or other events! Check out the <strong><a class="text-info" href="/events/">events</a></strong> we have coming up or <a class="text-info" href="/contact/">connect with us</a> online to stay informed.</p>
          </div>
        </div>
      </div>
    </section>
    {% include footer.html %}
    {% include scripts.html %}
  </body>
</html>
