<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% if {{page.title}} == 'Home' %}
<title>Pitt Secular Alliance</title>
{% else %}
<title>{{ page.title }} | Pitt Secular Alliance</title>
{% endif %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.2.1/simplex/bootstrap.min.css" integrity="sha256-bG2JmCecKWGtiHoeyUcqBaIJLGkhrsPT3Bz0bWotefI=" crossorigin="anonymous" />
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400|Open+Sans:300" rel="stylesheet">
<link rel="stylesheet" href="/css/app.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
