<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% if {{page.title}} == 'Home' %}
<title>Pitt Secular Alliance</title>
{% else %}
<title>{{ page.title }} | Pitt Secular Alliance</title>
{% endif %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0-beta.3/simplex/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400|Open+Sans:300" rel="stylesheet">
<link rel="stylesheet" href="/css/app.css">
<script src="/fa/js/fa-solid.min.js"></script>
<script src="/fa/js/fa-brands.min.js"></script>
<script src="/fa/js/fontawesome.min.js"></script>
