<div class="innerbody">
  <nav class="navbar navbar-default navbar-fixed-top" id="navbar">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" aria-expanded="false" aria-controls="navbar" @click="toggleCollapsed()">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <a class="navbar-brand" href="/">Pitt Secular Alliance</a>
      </div>
      <div class="navbar-collapse" :class="collapse">
        <ul class="nav navbar-nav">
          <li id="FAQ" :class="{'active': isCurrentPage('FAQ')}"><a href="/faq/">FAQ</a></li>
          <li id="Contact" :class="{'active': isCurrentPage('Contact')}"><a href="/contact/">Contact</a></li>
          <li id="Events" :class="{'active': isCurrentPage('Events')}"><a href="/events/">Events</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="https://www.instagram.com/secularpitt/" target="_blank"><span class="icon icon-instagram"></span><noscript>Instagram</noscript></a></li>
          <li><a href="https://www.facebook.com/groups/1540310659531212/" target="_blank"><span class="icon icon-facebook"></span><noscript>Facebook</noscript></a></li>
          <li><a href="mailto:secularpitt@gmail.com"><span class="glyphicon glyphicon-envelope"></span><noscript>Email</noscript></a></li>
        </ul>
      </div>
    </div>
  </nav>
