---
title: Nilsworth Appreciation Page
permalink: /nils-is-beautiful/
---
<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    {%include navbar.html %}
    <div class="jumbotron">
      <div class="container">
        <h1>Nilsworth Appreciation Page</h1>
      </div>
    </div>
    <div class="container">
      <img class="img-responsive" src="https://scontent-iad3-1.xx.fbcdn.net/v/t35.0-12/16880419_975862802514686_1556533350_o.jpg?oh=44d272cc9454a6ec37d082761db12ad9&oe=58ADA3D7">
      <img class="img-responsive" src="https://scontent-iad3-1.xx.fbcdn.net/v/t34.0-12/16900309_10210718468011010_1834764074_n.png?oh=54f1bafbf796e3404424ea214513195f&oe=58AEB6DD">
    </div>
    {% include scripts.html %}
  </body>
</html>
