---
title: Events
permalink: /events/
---
<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include navbar.html %}
    <div class="jumbotron">
      <div class="container">
        <h1>Upcoming Events</h1>
        <p>The best way to get to know us is to come to one of our events! See what things we have coming up.</p>
      </div>
    </div>
    <div class="container">
      <div id="calendar">
        <ul>
          <li class="event" v-for="event in events" :key="event.id">
            <h4 :id="event.start | id"><strong>{{ "{{event.start | date "}} }}</strong> – {{ "{{ event.summary "}} }}</h4>
            <p v-if="event.description && event.description[0]">{{ "{{ event.description[0] "}} }}</p>
            <ul v-if="event.description && event.description[1]">
              <li><em>{{ "{{ event.description[1] "}} }}</em></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    {% include footer.html %}
    {% include scripts.html %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="/js/events.js"></script>
  </body>
</html>
