---
title: Events
permalink: /events/
---
<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    <meta name="description" content="Want to learn more about us and get involved with Pitt Secular Alliance? Join us at one of our meetings or events! See what we fun stuff we have planned.">
    <style>
      ul {
        padding-left: 20px;
      }
      .event a {
        color: #3a87ad;
      }
      .event a:hover {
        color: #2d6987;
      }
    </style>
  </head>
  <body>
    {% include navbar.html %}
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-4">Upcoming Events</h1>
        <p class="lead">The best way to get to know us is to come to one of our events! See what things we have coming up.</p>
      </div>
    </div>
    <div class="container">
      <div id="calendar">
        <h3 class="text-info text-center">{{ "{{status "}} }}</h3>
        <ul>
          <li class="event" v-for="event in events" :key="event.id">
            <h4 :id="event.start | id"><strong>{{ "{{event.start | date "}} }}</strong> – {{ "{{ event.summary "}} }}</h4>
            <p class="text-primary"><span class="glyphicon glyphicon-map-marker"></span> {{ "{{ event.location || 'TBA' "}} }}</p>
            <div v-html="mdToHTML(event.description)"></div>
          </li>
        </ul>
      </div>
      <p class="text-right">For more events, see our <a href="https://calendar.google.com/calendar/embed?src=secularpitt%40gmail.com&ctz=America/New_York" target="_blank">Google Calendar</a></p>
    </div>
    {% include footer.html %}
    {% include scripts.html %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/autolinker/1.4.3/Autolinker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/8.4.0/markdown-it.min.js"></script>
    <script src="/js/events.js"></script>
  </body>
</html>
