body {
  height: 100vh;
  color: white;
  background-image: url('/img/space.jpg'), linear-gradient(#5b86e5, #36d1dc);
  background-size: cover;
  display: flex;
  align-items: center;
}
h1 {
  font-family: Montserrat;
}
input {
  opacity: 0.8;
}

.container {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 1em;
}
